nodered flow/A3-M2.txt
[
    {
        "id": "6d82911a.f5094",
        "type": "tab",
        "label": "A3-M2"
    },
    {
        "id": "e53044a0.25d608",
        "type": "debug",
        "z": "6d82911a.f5094",
        "name": "in debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2893.0834045410156,
        "y": 51.33333206176758,
        "wires": []
    },
    {
        "id": "a3b7b859.5d1568",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "hex2bin",
        "func": "function hexToBinary(s) {\n    var i, k, part, ret = '';\n    // lookup table for easier conversion. '0' characters are padded for '1' to '7'\n    var lookupTable = {\n        '0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n        '5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n        'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n        'e': '1110', 'f': '1111',\n        'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n        'E': '1110', 'F': '1111'\n    };\n    for (i = 0; i < s.length; i += 1) {\n        if (lookupTable.hasOwnProperty(s[i])) {\n            ret += lookupTable[s[i]];\n        } else {\n            return { valid: false };\n        }\n    }\n    return ret;\n}\n\nvar inHex = msg.payload;\nvar inBin = hexToBinary(inHex); \nvar outBin = inBin.toString(); \n\n var outmsg = {\n     payload: outBin\n     };\n return outmsg;\n \n \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 122.5,
        "y": 577,
        "wires": [
            [
                "8ae9375a.b4cd08",
                "982caeb7.621f6",
                "56d26114.7cd63",
                "3edee2c0.a69fbe",
                "b6c49765.b6bae8",
                "8e8173f3.ab00b",
                "7234b4d8.41401c",
                "d0faecdc.72c5d",
                "f621b705.5a96f8",
                "91df22c7.2f8ad",
                "7e20761.17aa788",
                "f9fdad05.2348e",
                "94b014c6.460248",
                "8e8c1012.8ea42",
                "dbb937bc.b4e518",
                "ee6d8842.ed0838"
            ]
        ]
    },
    {
        "id": "8ae9375a.b4cd08",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(0)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(0); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN1 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN1 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 301.8333435058594,
        "y": 62.99998474121094,
        "wires": [
            [
                "2d0a1fb9.95918"
            ]
        ]
    },
    {
        "id": "952ea559.907228",
        "type": "ui_audio",
        "z": "6d82911a.f5094",
        "name": "riproduci audio",
        "group": "fb20e16f.3d537",
        "voice": "10",
        "always": true,
        "x": 2905.0834045410156,
        "y": 131.5833339691162,
        "wires": []
    },
    {
        "id": "1a220a21.f09946",
        "type": "ui_toast",
        "z": "6d82911a.f5094",
        "position": "top right",
        "displayTime": "8",
        "highlight": "red",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "notifica flottante",
        "x": 2906.0834045410156,
        "y": 91.33333396911621,
        "wires": []
    },
    {
        "id": "639195ae.7dd1ec",
        "type": "file",
        "z": "6d82911a.f5094",
        "name": "memorizza nel log",
        "filename": "/log/log.nodered",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2917.5834045410156,
        "y": 172.0833339691162,
        "wires": []
    },
    {
        "id": "2d0a1fb9.95918",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona1",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN1 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN1 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 515.4166946411133,
        "y": 62.41665744781494,
        "wires": [
            [
                "35749a6f.b34066",
                "564ae4b9.d8ffec",
                "50bf5ade.d51d24"
            ]
        ]
    },
    {
        "id": "dc9f1e1c.6a8cb",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN1",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 335.1666564941406,
        "y": 28.666664123535156,
        "wires": [
            [
                "2d0a1fb9.95918"
            ]
        ]
    },
    {
        "id": "59ef2813.c837a8",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN1",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 322.5,
        "y": 98.66665649414062,
        "wires": [
            [
                "2d0a1fb9.95918"
            ]
        ]
    },
    {
        "id": "6a5a1b90.aee084",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN2",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 352.5,
        "y": 159,
        "wires": [
            [
                "c105b653.791358"
            ]
        ]
    },
    {
        "id": "5677d77d.0d6c78",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN2",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 334.5,
        "y": 224,
        "wires": [
            [
                "c105b653.791358"
            ]
        ]
    },
    {
        "id": "c105b653.791358",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona2",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN2 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN2 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 526.5000076293945,
        "y": 191.50000381469727,
        "wires": [
            [
                "35749a6f.b34066",
                "893d122b.6a82c",
                "7d43999.bd7ae68"
            ]
        ]
    },
    {
        "id": "982caeb7.621f6",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(1)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(1); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN2 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN2 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 314.5,
        "y": 192,
        "wires": [
            [
                "c105b653.791358"
            ]
        ]
    },
    {
        "id": "484e00a9.b69d7",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUENZIONE IN3",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350.66668701171875,
        "y": 297.04766845703125,
        "wires": [
            [
                "95d916d1.4797f8"
            ]
        ]
    },
    {
        "id": "c043caa6.1f0938",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN3",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340.2381286621094,
        "y": 360.3333740234375,
        "wires": [
            [
                "95d916d1.4797f8"
            ]
        ]
    },
    {
        "id": "95d916d1.4797f8",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona3",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN3 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN3 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 531.7024002075195,
        "y": 328.72626304626465,
        "wires": [
            [
                "35749a6f.b34066",
                "81dd855c.0a8708",
                "56e45809.61d7c8"
            ]
        ]
    },
    {
        "id": "4f326ca2.2dee04",
        "type": "mqtt in",
        "z": "6d82911a.f5094",
        "name": "",
        "topic": "/arduino3/check",
        "qos": "1",
        "broker": "f0176612.6b41e8",
        "x": 103.5,
        "y": 194,
        "wires": [
            [
                "a3b7b859.5d1568"
            ]
        ]
    },
    {
        "id": "35749a6f.b34066",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "dummy",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2662.083396911621,
        "y": 125.33333396911621,
        "wires": [
            [
                "1a220a21.f09946",
                "952ea559.907228",
                "639195ae.7dd1ec",
                "e53044a0.25d608",
                "3f9cb857.671398"
            ]
        ]
    },
    {
        "id": "ad2c893c.ab8b28",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona4",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN4 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN4 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540.833381652832,
        "y": 451.4167003631592,
        "wires": [
            [
                "35749a6f.b34066",
                "79b154dc.1172dc",
                "febe90a0.13b39"
            ]
        ]
    },
    {
        "id": "a0b863dc.8eb4b",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN4",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 360.4166946411133,
        "y": 420.1667003631592,
        "wires": [
            [
                "ad2c893c.ab8b28"
            ]
        ]
    },
    {
        "id": "6a71f67.a936408",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN4",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 342.5000343322754,
        "y": 484.75001525878906,
        "wires": [
            [
                "ad2c893c.ab8b28"
            ]
        ]
    },
    {
        "id": "60f749ef.457408",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN5",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 365.50000381469727,
        "y": 538.5000171661377,
        "wires": [
            [
                "35bb6731.745a58"
            ]
        ]
    },
    {
        "id": "7007b3d3.ab8bcc",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN5",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 346.83334732055664,
        "y": 602.0833835601807,
        "wires": [
            [
                "35bb6731.745a58"
            ]
        ]
    },
    {
        "id": "35bb6731.745a58",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona5",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN5 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN5 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549.0833206176758,
        "y": 569.9167566299438,
        "wires": [
            [
                "35749a6f.b34066",
                "e24bd21e.c2fe1",
                "88fd794b.350738"
            ]
        ]
    },
    {
        "id": "56d26114.7cd63",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(2)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(2); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN3 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN3 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 322,
        "y": 328,
        "wires": [
            [
                "95d916d1.4797f8"
            ]
        ]
    },
    {
        "id": "3edee2c0.a69fbe",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(3)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(3); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN4 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN4 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 324.0000228881836,
        "y": 452.2499542236328,
        "wires": [
            [
                "ad2c893c.ab8b28"
            ]
        ]
    },
    {
        "id": "b6c49765.b6bae8",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(4)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(4); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN5 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN5 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 327.49999237060547,
        "y": 570.000018119812,
        "wires": [
            [
                "35bb6731.745a58"
            ]
        ]
    },
    {
        "id": "8e8173f3.ab00b",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(5)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(5); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN6 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN6 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 324.50000762939453,
        "y": 690.5000095367432,
        "wires": [
            [
                "dcc0336.916c8d"
            ]
        ]
    },
    {
        "id": "7234b4d8.41401c",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(6)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(6); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN7 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN7 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 324.74999237060547,
        "y": 805.7499961853027,
        "wires": [
            [
                "d79a3772.edd218"
            ]
        ]
    },
    {
        "id": "d0faecdc.72c5d",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(7)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(7); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN8 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN8 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 326.357177734375,
        "y": 927.7499952316284,
        "wires": [
            [
                "86746d76.182f"
            ]
        ]
    },
    {
        "id": "f621b705.5a96f8",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(8)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(8); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN9 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN9 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780.0000190734863,
        "y": 58.82145881652832,
        "wires": [
            [
                "35a3590c.e41636"
            ]
        ]
    },
    {
        "id": "91df22c7.2f8ad",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(9)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(9); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN10 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN10 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 791.6786041259766,
        "y": 195.1071834564209,
        "wires": [
            [
                "f0e45286.4be25"
            ]
        ]
    },
    {
        "id": "7e20761.17aa788",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(10)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(10); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN11 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN11 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 804.0833892822266,
        "y": 330.4880418777466,
        "wires": [
            [
                "89f47c28.8c18a"
            ]
        ]
    },
    {
        "id": "f9fdad05.2348e",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(11)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(11); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN12 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN12 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 806.4761505126953,
        "y": 453.40482330322266,
        "wires": [
            [
                "af991f94.7fa3a"
            ]
        ]
    },
    {
        "id": "94b014c6.460248",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(12)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(12); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN13 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN13 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 796.4880294799805,
        "y": 569.1189861297607,
        "wires": [
            [
                "f240ab29.7e6538"
            ]
        ]
    },
    {
        "id": "8e8c1012.8ea42",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(13)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(13); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN14 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN14 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 798.8332901000977,
        "y": 682.6666831970215,
        "wires": [
            [
                "a76814b9.ca0df8"
            ]
        ]
    },
    {
        "id": "dbb937bc.b4e518",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(14)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(14); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN15 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN15 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 803.2379531860352,
        "y": 798.833438873291,
        "wires": [
            [
                "c5f473de.3e4d9"
            ]
        ]
    },
    {
        "id": "ee6d8842.ed0838",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "charAt(15)",
        "func": "var inBin = msg.payload;\nvar Allarme = inBin.charAt(15); \nvar stato = context.get('stato')||1;\nvar dataora = new Date();\n\n\nif ((stato == '0') && (Allarme === '0')){\n    stato = '1';\n    context.set('stato',stato);\n var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN16 OK\"\n     };\n}   \n\nif ((stato == '1') && (Allarme === '1')){\n    stato = '0';\n    context.set('stato',stato);\n   var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN16 Allarme\"\n     };\n\n}\n\n return outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 807.8095474243164,
        "y": 920.8572521209717,
        "wires": [
            [
                "33430afb.ecc0b6"
            ]
        ]
    },
    {
        "id": "8e6536fc.487c98",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN6",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 363.00000762939453,
        "y": 658.0000095367432,
        "wires": [
            [
                "dcc0336.916c8d"
            ]
        ]
    },
    {
        "id": "3a973cbc.7f42b4",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN6",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 345.50000762939453,
        "y": 723.0000095367432,
        "wires": [
            [
                "dcc0336.916c8d"
            ]
        ]
    },
    {
        "id": "c30022d8.5af1c",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN7",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 365.25,
        "y": 773.250020980835,
        "wires": [
            [
                "d79a3772.edd218"
            ]
        ]
    },
    {
        "id": "757e52e2.76789c",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN7",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 346.25,
        "y": 839.2500228881836,
        "wires": [
            [
                "d79a3772.edd218"
            ]
        ]
    },
    {
        "id": "dcc0336.916c8d",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona6",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN6 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN6 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 552.0000076293945,
        "y": 691.2500095367432,
        "wires": [
            [
                "35749a6f.b34066",
                "f96f2a4e.7f7d18",
                "7ccef7c1.b7e298"
            ]
        ]
    },
    {
        "id": "d79a3772.edd218",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona7",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN7 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN7 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 553.5,
        "y": 804.5000219345093,
        "wires": [
            [
                "35749a6f.b34066",
                "541dc948.1e1708",
                "5cc9c6ed.5985e8"
            ]
        ]
    },
    {
        "id": "86746d76.182f",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona8",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN8 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN8 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549.0000076293945,
        "y": 927.7500238418579,
        "wires": [
            [
                "35749a6f.b34066",
                "14f50153.c57eaf",
                "6e614520.f8f8ac"
            ]
        ]
    },
    {
        "id": "35a3590c.e41636",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona9",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN9 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN9 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1019.5000152587891,
        "y": 59.25003528594971,
        "wires": [
            [
                "35749a6f.b34066",
                "2aeb580c.56d498",
                "21fa1397.0368cc"
            ]
        ]
    },
    {
        "id": "f0e45286.4be25",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona10",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN10 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN10 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1022.0000228881836,
        "y": 193.75003623962402,
        "wires": [
            [
                "35749a6f.b34066",
                "5129cd9c.30d794",
                "86de9288.8c49"
            ]
        ]
    },
    {
        "id": "89f47c28.8c18a",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona11",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN11 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN11 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1038.8333892822266,
        "y": 329.9166316986084,
        "wires": [
            [
                "35749a6f.b34066",
                "131e28e.9a4fad7",
                "a2a65237.32db7"
            ]
        ]
    },
    {
        "id": "5b21097d.911258",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN8",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 366.75000762939453,
        "y": 896.0000238418579,
        "wires": [
            [
                "86746d76.182f"
            ]
        ]
    },
    {
        "id": "b56f6fb9.65c75",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN8",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 346.00000762939453,
        "y": 961.2500257492065,
        "wires": [
            [
                "86746d76.182f"
            ]
        ]
    },
    {
        "id": "91257288.1d869",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN9",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 816.2500152587891,
        "y": 25.50003147125244,
        "wires": [
            [
                "35a3590c.e41636"
            ]
        ]
    },
    {
        "id": "48ceaf69.39edd",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN9",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 800.0000152587891,
        "y": 91.25003433227539,
        "wires": [
            [
                "35a3590c.e41636"
            ]
        ]
    },
    {
        "id": "6a48cfe7.6653e",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN10",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 828.7500152587891,
        "y": 163.25003623962402,
        "wires": [
            [
                "f0e45286.4be25"
            ]
        ]
    },
    {
        "id": "769083be.20cbdc",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN10",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 819.7500190734863,
        "y": 227.75003814697266,
        "wires": [
            [
                "f0e45286.4be25"
            ]
        ]
    },
    {
        "id": "550ba950.85a808",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN11",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 834.5833892822266,
        "y": 299.66662979125977,
        "wires": [
            [
                "89f47c28.8c18a"
            ]
        ]
    },
    {
        "id": "4eaa289b.adb708",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN11",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 812.5833892822266,
        "y": 361.1666316986084,
        "wires": [
            [
                "89f47c28.8c18a"
            ]
        ]
    },
    {
        "id": "af991f94.7fa3a",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona12",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN12 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN12 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1041.083267211914,
        "y": 452.08338165283203,
        "wires": [
            [
                "35749a6f.b34066",
                "1ca35b70.c70f95",
                "e7c5f053.f7f08"
            ]
        ]
    },
    {
        "id": "f240ab29.7e6538",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona13",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN13 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN13 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1045.916633605957,
        "y": 568.8333015441895,
        "wires": [
            [
                "35749a6f.b34066",
                "6902675f.206ee8",
                "3e7f566c.233b5a"
            ]
        ]
    },
    {
        "id": "a76814b9.ca0df8",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona14",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN14 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN14 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1043.1667556762695,
        "y": 683.3333492279053,
        "wires": [
            [
                "35749a6f.b34066",
                "332e258d.d7adda",
                "201f6db5.361482"
            ]
        ]
    },
    {
        "id": "c5f473de.3e4d9",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona15",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN15 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN15 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1037.9999237060547,
        "y": 798.5000858306885,
        "wires": [
            [
                "35749a6f.b34066",
                "666ce505.9346ec",
                "8915b682.374db8"
            ]
        ]
    },
    {
        "id": "33430afb.ecc0b6",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "CheckZona16",
        "func": "var dataora = new Date();\nvar man = context.get('man')||0;\nvar ok = \"OK\";\nif ((msg.payload==\"MAN\") && ( man === 0)) {\n    var man=1;\n    context.set('man',man);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"MANUTENZIONE\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN16 MANUTENZIONE\"\n     };\n}\nif ((msg.payload==\"FIX\") && ( man == 1)) {\n    var man=0;\n    context.set('man',man);\n    node.status({fill:\"green\",shape:\"dot\",text:\"SISTEMATO\"});\n    var outmsg = {\n     payload: dataora.getDate().toString() + \"/\" + ('0' + (dataora.getMonth()+1)).slice(-2).toString() + \"/\" + dataora.getFullYear().toString() + \" \" + ('0' + (dataora.getHours())).slice(-2).toString() + \":\" + ('0' + (dataora.getMinutes())).slice(-2).toString() + \" - Arduino3 Modulo2 IN16 SISTEMATO OK\"\n     };\n}\n\nif ((msg.payload!==\"FIX\") && ( man === 0)) {\n    if (msg.payload.includes(ok)) {\n        node.status({fill:\"green\",shape:\"dot\",text:\"OK\"});\n    } else {\n        node.status({fill:\"red\",shape:\"dot\",text:\"ALLARME\"});\n    }\nvar outmsg = {\n     payload: msg.payload.toString()\n     };\n}\n\nreturn outmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1046.3334999084473,
        "y": 921.0000324249268,
        "wires": [
            [
                "35749a6f.b34066",
                "5cdbe410.54f17c",
                "5c3c40cc.00ddf"
            ]
        ]
    },
    {
        "id": "6aaebf65.1d953",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MENUTENZIONE IN12",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 832.5832672119141,
        "y": 421.0833806991577,
        "wires": [
            [
                "af991f94.7fa3a"
            ]
        ]
    },
    {
        "id": "1c17623a.91db7e",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN12",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 825.0832672119141,
        "y": 486.58338165283203,
        "wires": [
            [
                "af991f94.7fa3a"
            ]
        ]
    },
    {
        "id": "6ac9086e.f60bc8",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN13",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 821.9166030883789,
        "y": 538.1666522026062,
        "wires": [
            [
                "f240ab29.7e6538"
            ]
        ]
    },
    {
        "id": "e27fc32a.680fb",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN13",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 814.9166030883789,
        "y": 601.16663646698,
        "wires": [
            [
                "f240ab29.7e6538"
            ]
        ]
    },
    {
        "id": "a44c2a35.b5a028",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN14",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 823.5,
        "y": 651.0000133514404,
        "wires": [
            [
                "a76814b9.ca0df8"
            ]
        ]
    },
    {
        "id": "df955441.464428",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN14",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 817.4999771118164,
        "y": 715.3333129882812,
        "wires": [
            [
                "a76814b9.ca0df8"
            ]
        ]
    },
    {
        "id": "c1c076f2.180b18",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN15",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 830.3332061767578,
        "y": 767.1667499542236,
        "wires": [
            [
                "c5f473de.3e4d9"
            ]
        ]
    },
    {
        "id": "9ca0ab71.126b38",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN15",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 823.3332290649414,
        "y": 831.8334217071533,
        "wires": [
            [
                "c5f473de.3e4d9"
            ]
        ]
    },
    {
        "id": "8fe20b96.2124f8",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "MANUTENZIONE IN16",
        "topic": "",
        "payload": "MAN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 832.3333740234375,
        "y": 889.3334045410156,
        "wires": [
            [
                "33430afb.ecc0b6"
            ]
        ]
    },
    {
        "id": "20f3221.9b1e1de",
        "type": "inject",
        "z": "6d82911a.f5094",
        "name": "SISTEMATA IN16",
        "topic": "",
        "payload": "FIX",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 826.0000381469727,
        "y": 954.000057220459,
        "wires": [
            [
                "33430afb.ecc0b6"
            ]
        ]
    },
    {
        "id": "5a888e2c.c8be9",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN16",
        "group": "b594cb72.dd16b8",
        "order": 31,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN16",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1980.2383251190186,
        "y": 921.9047155380249,
        "wires": []
    },
    {
        "id": "5cdbe410.54f17c",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN16",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1847.8571910858154,
        "y": 923.333251953125,
        "wires": [
            [
                "5a888e2c.c8be9"
            ]
        ]
    },
    {
        "id": "5c3c40cc.00ddf",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 32,
        "width": 0,
        "height": 0,
        "name": "IN16",
        "label": "16. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1828.571434020996,
        "y": 891.1903877258301,
        "wires": []
    },
    {
        "id": "aa3d17b3.ce1c68",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN15",
        "group": "b594cb72.dd16b8",
        "order": 29,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN15",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1979.1071739196777,
        "y": 795.0000629425049,
        "wires": []
    },
    {
        "id": "8915b682.374db8",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 30,
        "width": 0,
        "height": 0,
        "name": "IN15",
        "label": "15. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1826.7262992858887,
        "y": 765.4761905670166,
        "wires": []
    },
    {
        "id": "666ce505.9346ec",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN15",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1845.5357513427734,
        "y": 796.6666812896729,
        "wires": [
            [
                "aa3d17b3.ce1c68"
            ]
        ]
    },
    {
        "id": "50bf5ade.d51d24",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN1",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1503.714340209961,
        "y": 74.57143020629883,
        "wires": [
            [
                "deecf23e.a8e18"
            ]
        ]
    },
    {
        "id": "88fd794b.350738",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN5",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1498.0000446864535,
        "y": 517.7142058781214,
        "wires": [
            [
                "4dc3e6b6.938b18"
            ]
        ]
    },
    {
        "id": "81dd855c.0a8708",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN3",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1503.1429710388184,
        "y": 286.5714807510376,
        "wires": [
            [
                "1836890.d668377"
            ]
        ]
    },
    {
        "id": "332e258d.d7adda",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN14",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1843.4285926818848,
        "y": 684.5713024139404,
        "wires": [
            [
                "166977fd.159b68"
            ]
        ]
    },
    {
        "id": "febe90a0.13b39",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN4",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1505.7143135070799,
        "y": 403.71426582336403,
        "wires": [
            [
                "9d8d1896.d92838"
            ]
        ]
    },
    {
        "id": "7d43999.bd7ae68",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN2",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1508.2857666015625,
        "y": 168.28572177886963,
        "wires": [
            [
                "78c4e824.8b2e18"
            ]
        ]
    },
    {
        "id": "201f6db5.361482",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 28,
        "width": 0,
        "height": 0,
        "name": "IN14",
        "label": "14. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1823.142734527588,
        "y": 652.8570861816406,
        "wires": []
    },
    {
        "id": "166977fd.159b68",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN14",
        "group": "b594cb72.dd16b8",
        "order": 27,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN14",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "95",
        "seg2": "98",
        "x": 1976.857162475586,
        "y": 683.9998903274536,
        "wires": []
    },
    {
        "id": "564ae4b9.d8ffec",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "IN1",
        "label": "1. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1492.8571701049805,
        "y": 42.857093811035156,
        "wires": []
    },
    {
        "id": "deecf23e.a8e18",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN1",
        "group": "b594cb72.dd16b8",
        "order": 1,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN1",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1631.4286499023438,
        "y": 74.28576946258545,
        "wires": []
    },
    {
        "id": "78c4e824.8b2e18",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN2",
        "group": "b594cb72.dd16b8",
        "order": 4,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN2",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1637.1428833007812,
        "y": 168.57134914398193,
        "wires": []
    },
    {
        "id": "893d122b.6a82c",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "IN2",
        "label": "2. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1500.0000648498535,
        "y": 132.85711669921875,
        "wires": []
    },
    {
        "id": "79b154dc.1172dc",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "IN4",
        "label": "4. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1497.142936706543,
        "y": 368.5714416503906,
        "wires": []
    },
    {
        "id": "e24bd21e.c2fe1",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "IN5",
        "label": "5. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1494.285758972168,
        "y": 471.4284915924072,
        "wires": []
    },
    {
        "id": "4dc3e6b6.938b18",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN5",
        "group": "b594cb72.dd16b8",
        "order": 10,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN5",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1622.857184273856,
        "y": 517.1428252628873,
        "wires": []
    },
    {
        "id": "9d8d1896.d92838",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN4",
        "group": "b594cb72.dd16b8",
        "order": 8,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN4",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1625.7143630981445,
        "y": 402.8570852279663,
        "wires": []
    },
    {
        "id": "56e45809.61d7c8",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "IN3",
        "label": "3. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1495.7143478393555,
        "y": 255.7143039703369,
        "wires": []
    },
    {
        "id": "1836890.d668377",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN3",
        "group": "b594cb72.dd16b8",
        "order": 6,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN3",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1627.142936706543,
        "y": 287.142822265625,
        "wires": []
    },
    {
        "id": "14f50153.c57eaf",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "IN8",
        "label": "8. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1484.285659790039,
        "y": 862.8571968078613,
        "wires": []
    },
    {
        "id": "4f14b689.b13c28",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN8",
        "group": "b594cb72.dd16b8",
        "order": 16,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN8",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1614.2856197357178,
        "y": 894.2857494354248,
        "wires": []
    },
    {
        "id": "541dc948.1e1708",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "IN7",
        "label": "7. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1487.142780303955,
        "y": 734.2857975959778,
        "wires": []
    },
    {
        "id": "231c6b42.cb22b4",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN7",
        "group": "b594cb72.dd16b8",
        "order": 14,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN7",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1617.1428565979004,
        "y": 765.7143888473511,
        "wires": []
    },
    {
        "id": "f96f2a4e.7f7d18",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "IN6",
        "label": "6. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1487.1428778512138,
        "y": 598.5714435577393,
        "wires": []
    },
    {
        "id": "94270277.cf015",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN6",
        "group": "b594cb72.dd16b8",
        "order": 11,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN6",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 1615.714384351458,
        "y": 632.857105255127,
        "wires": []
    },
    {
        "id": "7ccef7c1.b7e298",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN6",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1492.8571739196777,
        "y": 632.857141494751,
        "wires": [
            [
                "94270277.cf015"
            ]
        ]
    },
    {
        "id": "5cc9c6ed.5985e8",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN7",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1494.2857704162598,
        "y": 767.1428203582764,
        "wires": [
            [
                "231c6b42.cb22b4"
            ]
        ]
    },
    {
        "id": "6e614520.f8f8ac",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN8",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1491.4286193847656,
        "y": 894.2856960296631,
        "wires": [
            [
                "4f14b689.b13c28"
            ]
        ]
    },
    {
        "id": "21fa1397.0368cc",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN9",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1867.1427623203822,
        "y": 87.14274147578635,
        "wires": [
            [
                "438c1fcd.dc7c1"
            ]
        ]
    },
    {
        "id": "e7c5f053.f7f08",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN12",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1882.8574752807617,
        "y": 412.85716247558594,
        "wires": [
            [
                "459b5e81.a9ba3"
            ]
        ]
    },
    {
        "id": "a2a65237.32db7",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN11",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1871.4285752432686,
        "y": 297.1428331647601,
        "wires": [
            [
                "4396cefb.591b9"
            ]
        ]
    },
    {
        "id": "3e7f566c.233b5a",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN13",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1874.2857666015625,
        "y": 530.0001182556152,
        "wires": [
            [
                "41085a74.659f14"
            ]
        ]
    },
    {
        "id": "5129cd9c.30d794",
        "type": "function",
        "z": "6d82911a.f5094",
        "name": "ValueIN10",
        "func": "var input = msg.payload;\n\nif (input.indexOf('OK') !== -1){var out = 95;}\nif (input.indexOf('MANUTENZIONE') !== -1){var out = 97;}\nif (input.indexOf('Allarme') !== -1){var out = 99;}\nmsg.payload = parseInt(out);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1874.2858772277832,
        "y": 181.42859363555908,
        "wires": [
            [
                "69630712.9ef1c8"
            ]
        ]
    },
    {
        "id": "2aeb580c.56d498",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "IN9",
        "label": "9. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1859.9998779296875,
        "y": 51.42841911315918,
        "wires": []
    },
    {
        "id": "131e28e.9a4fad7",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "IN11",
        "label": "11. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1862.8572006225586,
        "y": 261.4285354614258,
        "wires": []
    },
    {
        "id": "1ca35b70.c70f95",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 23,
        "width": 0,
        "height": 0,
        "name": "IN12",
        "label": "12. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1864.2860679626465,
        "y": 381.4285650253296,
        "wires": []
    },
    {
        "id": "6902675f.206ee8",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 25,
        "width": 0,
        "height": 0,
        "name": "IN13",
        "label": "13. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1857.1429290771484,
        "y": 492.85716485977173,
        "wires": []
    },
    {
        "id": "86de9288.8c49",
        "type": "ui_text",
        "z": "6d82911a.f5094",
        "group": "b594cb72.dd16b8",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "IN10",
        "label": "10. ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1857.1429443359375,
        "y": 147.14287281036377,
        "wires": []
    },
    {
        "id": "438c1fcd.dc7c1",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN9",
        "group": "b594cb72.dd16b8",
        "order": 18,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN9",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 2004.2855949401855,
        "y": 87.14282512664795,
        "wires": []
    },
    {
        "id": "4396cefb.591b9",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN11",
        "group": "b594cb72.dd16b8",
        "order": 21,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN11",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 2002.857265472412,
        "y": 297.1428337097168,
        "wires": []
    },
    {
        "id": "459b5e81.a9ba3",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN12",
        "group": "b594cb72.dd16b8",
        "order": 24,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN12",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 2024.285945892334,
        "y": 412.85716247558594,
        "wires": []
    },
    {
        "id": "41085a74.659f14",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN13",
        "group": "b594cb72.dd16b8",
        "order": 26,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN13",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 2011.428596496582,
        "y": 531.4286031723022,
        "wires": []
    },
    {
        "id": "69630712.9ef1c8",
        "type": "ui_gauge",
        "z": "6d82911a.f5094",
        "name": "IN10",
        "group": "b594cb72.dd16b8",
        "order": 19,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "IN10",
        "label": "",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "96",
        "seg2": "98",
        "x": 2012.857250213623,
        "y": 181.4286184310913,
        "wires": []
    },
    {
        "id": "3f9cb857.671398",
        "type": "twitter out",
        "z": "6d82911a.f5094",
        "twitter": "",
        "name": "Tweet",
        "x": 2879.333396911621,
        "y": 214.3333339691162,
        "wires": []
    },
    {
        "id": "11aa52e7.a99cfd",
        "type": "change",
        "z": "6d82911a.f5094",
        "name": "mail numero 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Notifica da Servizio Tecnico",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "mittente@example.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "destinatario@example.com",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2291.6665954589844,
        "y": 686.6666946411133,
        "wires": [
            [
                "83999c6e.b73d4"
            ]
        ]
    },
    {
        "id": "8cac1cae.a8ddc",
        "type": "change",
        "z": "6d82911a.f5094",
        "name": "mail numero 2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Notifica da Servizio Tecnico",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "mittente@example.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "destinatario@example.com",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2286.6668395996094,
        "y": 799.9999905824661,
        "wires": [
            [
                "83999c6e.b73d4"
            ]
        ]
    },
    {
        "id": "d9eaad95.29cbb",
        "type": "change",
        "z": "6d82911a.f5094",
        "name": "mail numero 3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Notifica da Servizio Tecnico",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "mittente@example.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "destinatario@example.com",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2283.333333333333,
        "y": 919.9999999999999,
        "wires": [
            [
                "83999c6e.b73d4"
            ]
        ]
    },
    {
        "id": "83999c6e.b73d4",
        "type": "e-mail",
        "z": "6d82911a.f5094",
        "server": "smtp.example.com",
        "port": "25",
        "secure": false,
        "name": "",
        "dname": "invio email",
        "x": 2501.666606903076,
        "y": 798.333345413208,
        "wires": []
    },
    {
        "id": "fb20e16f.3d537",
        "type": "ui_group",
        "z": "",
        "name": "Modulo1",
        "tab": "dd5264ec.930938",
        "order": 1,
        "disp": true,
        "width": "16"
    },
    {
        "id": "f0176612.6b41e8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.100",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "1",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b594cb72.dd16b8",
        "type": "ui_group",
        "z": "",
        "name": "Modulo2",
        "tab": "dd5264ec.930938",
        "order": 2,
        "disp": true,
        "width": "16"
    },
    {
        "id": "dd5264ec.930938",
        "type": "ui_tab",
        "z": "",
        "name": "Arduino3",
        "icon": "dashboard",
        "order": 3
    }
]